

#color{
    border-radius:10%;
    border-color: black;
    background-color:red;
}
#heigth{
    border-radius:10%;
    border-color: black;
    background-color:red;
}
#weidth{
    border-radius:10%;
    border-color: black;
    background-color:;
}
#button{
    border-radius:10%;
   
    background-color:red;
}